.bg-image{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fpt%2Fsearch%2Ffundo-da-nuvem&psig=AOvVaw3ZC_uiFW0AP7dIig23ZT-o&ust=1742489898019000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJDHr_3OlowDFQAAAAAdAAAAABAE');
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

.margin-top {
    margin-top: 20vh; //vertical
}