<!-- <ion-content [fullscreen]="true">
    
    <ion-row>
        <ion-col size="12" size-lg="6">
            <ion-item>
                <ion-input label="Nome do pokemon" placeholder="Nome do pokemon" labelPlacement="floating" [(ngModel)]="this.pokemon.nome"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Poder do pokemon" placeholder="Poder do pokemon" labelPlacement="floating" [(ngModel)]="this.pokemon.poder"></ion-input>
            </ion-item>
            <ion-item lines="none" >
                <ion-button (click)="enviar()" color="secondary" size="medium">Enviar</ion-button>

            </ion-item>
        </ion-col>
    </ion-row>

</ion-content> -->

<ion-content [fullscreen]="true"> 
     <ion-row>  <!--dentro de uma linha sempre tem uma coluna  -->
        <ion-col size="6" size-xl="3" *ngFor="let pais of this.dados">
            <ion-card>
                <ion-row>
                    <ion-col size="4">
                        <img src="{{ pais.flags.png }}">
                    </ion-col>
                    <ion-col size="8">
                        <h2>{{ pais.name.common }}</h2>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>