<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>Dolls</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="red" [fullscreen]="true">

<ion-label class="ion-text-center">
    <br>
    <h1>barbies</h1>
    <br>
</ion-label>

    <ion-row class="ion-justify-content-center">

        <ion-col size="4">
            <ion-card>
                <ion-item>
                    <img src="" alt=""> 
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-center">
                        <h2> barbie</h2>
                    </ion-label>
                </ion-item>
                <ion-button color="primary">oii</ion-button>
            </ion-card>
                            
        </ion-col>
        
        
        <ion-col size="4">
            <ion-card>
                <ion-item>
                    <img class="" src="" alt="">
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-center">
                        <h2>barbie</h2>
                    </ion-label>
                </ion-item>
                <ion-button color="primary">barbie</ion-button>
            </ion-card>
                            
        </ion-col>    
    </ion-row>

    <ion-row class="ion-justify-content-center">

        <ion-col size="4">
            <ion-card>
                <ion-item>
                    <img src="" alt="">
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-center">
                        <h2>barbie</h2>
                    </ion-label>
                </ion-item>
                <ion-button color="tertiary">barbie</ion-button>
            </ion-card>
                            
        </ion-col>
        
        
        <ion-col size="4">
            <ion-card>
                <ion-item>
                    <img src="" alt="">
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-center">
                        <h2>Flow</h2>
                    </ion-label>
                </ion-item>
                <ion-button color="tertiary">barbie</ion-button>
            </ion-card>
                            
        </ion-col>    
    </ion-row>
    <br>
    <br>
    <ion-row class="ion-justify-content-center">
       
        <ion-col size="12" size-lg="6">
            <ion-list>
                <ion-item>
                    <ion-label>detalhes</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>detalhes</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>detalhes</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

</ion-content>

<ion-footer>
<ion-toolbar color="primary">
    <ion-title>isaa</ion-title>
</ion-toolbar>
</ion-footer>